@font-face {
  font-family: "Curly Blush";
  src: url(fonts/curly-blush-font/CurlyBlushRegularDemo-gwdZE.ttf);
}

@font-face {
  font-family: "Love Letters";
  src: url(fonts/loveletters/LOVELETTERS.ttf);
}
.journal {
    flex-direction: row;
    display: flex;
    height: 100vh;
    padding: 25px 50px;
    gap: 25px;
    font-family: "Curly Blush";
    background-color: rgb(248, 245, 237);
}

.calendar {
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.calendar-header {
  width: 100%;
  display: flex;
  align-items: center;
  color: #f2cbdc;
  font-size: 1.2em;
}

.calendar-header h1 {
  margin: 0;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekday {
  width: 14.27%;
  text-align: center;
  margin: 0;
  color: #9fbfd4;
}

.weekday p {
  margin: 0.5em;
}

.table-content {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border: 1px dashed #bdcfdb;
  border-radius: 10px;
  overflow: hidden;
}

.calendar-day {
  height: 80px;
  position: relative;
  border-right: 1px dashed #bdcfdb;
  border-bottom: 1px dashed #bdcfdb;
}

.calendar-day:nth-child(7n) {
  border-right: none;
}

.calendar-day:nth-last-child(-n+7) {
  border-bottom: none;
}

.calendar-day:hover {
  background-color:  rgb(255, 246, 223);
}

.calendar-day p {
  position: absolute;
  right: 10px;
  color: #a6a6a6;
  margin-top: 5%;
  font-size: 1.2em;
}

.current p {
  color: #000000;
}

.selected p {
  color: #f2cbdc;
  font-weight: bold;
}

.entry-indicator {
    font-family: "Love Letters";
    font-size: 5em;
    color: #f3eabe;
}

.entry-panel {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 25%;
  margin-top: 5%;
  border: 1.5px dashed #bdcfdb;
  border-radius: 10px;
  background-color: #eaf7ff;
}

.entries {
  height: 75%;
  overflow-y: scroll;
  font-size: 1.5em;
}

.entries ul {
  text-align: left;
  list-style-type: circle;
}

.entries ul:empty {
  text-align: center;
  padding: 0;
}

.entries ul:empty::after {
  content: attr(placeholder);
  color: #9fbfd4;
  font-size: 1.2em;
}

.entries li {
  padding: 5px;
  justify-content: left;
}

.entry-panel h2 {
  color: #f2cbdc;
  margin-bottom: 0;
  margin-top: 0.5em;
  font-size: 2em;
}

form {
    margin-top: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form input {
  width: 73%;
  padding: 14px;
  border-radius: 10px;
  border: 1.5px dashed #bdcfdb;
  background-color: rgb(248, 245, 237);
}

form button {
  margin-left: 5px;
  width: 40px;
  height: 40px;
  border: 1.5px dashed #bdcfdb;
  border-radius: 50%;
  justify-content: center;
  color: #f2cbdc;
  background-color: #ffeff6;
  font-size: 30px;
  
}