@font-face {
  font-family: "Curly Blush";
  src: url(curly-blush-font/CurlyBlushRegularDemo-gwdZE.ttf);
}

.journal {
    flex-direction: row;
    display: flex;
    height: 100vh;
    padding: 25px 50px;
    gap: 25px;
    font-family: "Curly Blush";
}

.calendar {
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.calendar-header {
  width: 100%;
  display: flex;
  align-items: center;
  color: #cc0000;
  font-size: 1.2em;
}

.calendar-header h1 {
  margin: 0;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weekday {
  width: 14.27%;
  text-align: center;
  margin: 0;
}

.table-content {
  width: 100%;
  flex-grow: 1;

  display: grid;
  grid-template-columns: repeat(7, 1fr);

  border: 1px solid #a6a6a6;
  border-radius: 10px;
  overflow: hidden;
}

.calendar-day {
  height: 80px;
  position: relative;

  border-right: 1px solid #a6a6a6;
  border-bottom: 1px solid #a6a6a6;
}

.calendar-day:nth-child(7n) {
  border-right: none;
}

.calendar-day:nth-last-child(-n+7) {
  border-bottom: none;
}

.calendar-day:hover {
  background-color: rgba(0,0,0,.10);
}

.calendar-day p {
  position: absolute;
  right: 10px;
  color: #a6a6a6;
  margin-top: 5%;
}

.current p {
  color: #000000;
}

.selected p {
  color: #cc0000;
  font-weight: bold;
}

.entry-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;

    width: 8px;
    height: 8px;

    transform: translateX(-50%);

    background-color: #e8b4b4;
    border-radius: 50%;
}

.entry-panel {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 25%;
  margin-top: 5%;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
}

.entries {
  height: 75%;
  overflow-y: scroll;
}

.entries ul {
  text-align: left;
  list-style-type: circle;
}

.entries ul:empty {
  text-align: center;
  padding: 0;
}

.entries ul:empty::after {
  content: attr(placeholder);
  color: #a6a6a6;
  font-size: x-large;
}

.entries li {
  padding: 5px;
  justify-content: left;
}

.entry-panel h2 {
  color: #cc0000;
  margin-bottom: 0;
  font-size: 1.7em;
}

form {
    margin-top: auto;
    padding: 10px 0;
}

form input {
  width: 73%;
  border: 1px solid #a6a6a6;
  padding: 14px;
  border-radius: 10px;
}

form button {
  margin-left: 5px;
  padding: 14px;
  border: 1px solid #a6a6a6;
  border-radius: 10px;
}